body{
    margin: 0px;
    padding: 0px;
}

main {
    width: 300px;
    margin: 10px auto;
}

header {
    text-align: center;
}

#mainsquare {
    width: 312px;
    height: 312px;
    border: 2px solid #000000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
}

.tic, .tac {
    position: relative;
}

.tic:before, .tac:before {
    content: 'X';
    font-size: 500%;
    position: absolute;
    left: 22px;
    top: 5px;
}

.tac:before {
    content: '0';
    left: 30px;
}

#support {
    text-align: center;
}

#stats {
    margin: 20px auto;
    border: 1px solid #000000;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 10px;
}

#stats div {
    margin: 10px;
}

span {
    font-weight: bold;
}

.modal-window {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 400px;
    height: 100px;
    text-align: center;
    border: 2px solid #000;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 6px grey;
    z-index: 101;
    line-height: 50px;
}

.modal-window button {
    display: block;
    width: 50px;
    margin: 5px auto;
}

.modal-active {
    display: block;
}

.screen-block {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    opacity: 0.5;
    background-color: lightslategray;
    display: none;
}

.screen-block-active {
    display: block;
}